<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>15 Puzzle</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/stylesheet.css">
	<link rel="shortcut icon" href="#" />
</head>

<body>
	<div id="start-board">
		<div id="stile-1" class="tile">1</div>
		<div id="stile-2" class="tile">2</div>
		<div id="stile-3" class="tile">3</div>
		<div id="stile-4" class="tile">4</div>
		<div id="stile-5" class="tile">5</div>
		<div id="stile-6" class="tile">6</div>
		<div id="stile-7" class="tile">7</div>
		<div id="stile-8" class="tile">8</div>
	</div>
	<div id="start-header">Starting State</div>
	<div id="start-controls">
		<button id="custom-start" onclick="customStart()">Custom State</button>
		<button id="random-start" onclick="randomStart()">Random State</button>
	</div>
	
	<div id="end-board">
		<div id="etile-1" class="tile">1</div>
		<div id="etile-2" class="tile">2</div>
		<div id="etile-3" class="tile">3</div>
		<div id="etile-4" class="tile">4</div>
		<div id="etile-5" class="tile">5</div>
		<div id="etile-6" class="tile">6</div>
		<div id="etile-7" class="tile">7</div>
		<div id="etile-8" class="tile">8</div>
	</div>
	<div id="end-header">Ending State</div>
	<div id="end-controls">
		<button id="custom-end" onclick="customEnd()">Custom State</button>
		<button id="random-end" onclick="randomEnd()">Random State</button>
	</div>
		
	<div id="algorithm-header">Algorithms</div>
	<div id="algo-selection">
		<select id="algo" style="width: 275px">
			<option selected disabled value="select">(Select)</option>
			<option value="iterative-deepening">Iterative-Deepening Search</option>
			<option value="depth-limited">Depth-Limited Search</option>
			<option value="a-star">A* Search</option>
			<option value="recursive-best-first">Recursive Best First Search</option>
		</select>
	</div>
	<div id="h-selection">
		<select id="heuristic" style="width: 275px">
			<option selected disabled value="select">(Select)</option>
			<option value="manhattan">Manhattan Heuristic</option>
			<option value="hamming">Hamming Heuristic</option>option>
		</select>
	</div>
	<div id="node-params">
		<input type="Max Depth" id="max-depth" placeholder="Max Depth"/>
		<input type="Depth Limit" id="depth-limit" placeholder="Depth Limit"/>
	</div>
	<div id="action-controls">
		<button id="search-button" onclick="search()">Search</button>
		<button id="reset-button" onclick="reset()">Reset</button>
	</div>
	
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type=text/javascript>
	$('#algo').on('change', function () {
		if(this.value === "a-star" || this.value === "recursive-best-first"){
			$("#heuristic").prop('disabled', false);
			$("#max-depth").prop('disabled', true);
			$("#depth-limit").prop('disabled', true);
		} else if(this.value === "select") {
			$("#heuristic").prop('disabled', false);
			$("#max-depth").prop('disabled', false);
			$("#depth-limit").prop('disabled', false);
		} else {
			$("#heuristic").prop('disabled', true);
			$("#max-depth").prop('disabled', false);
			$("#depth-limit").prop('disabled', false);
		}
	});
</script>
<script src="../static/BoardLogic.js"></script>
<script src="../static/Visualization.js"></script>
<script src="../static/ParseStates.js"></script>
<script src="../static/ProcessStates.js"></script>
</html>
